.msg {
  border: 2px, solid, green;
  padding: 10px;
  font-size: 16px;
  color: green;
  background-color: rgb(187, 173, 173);
}

.eMsg {
  border: 2px, solid, red;
  padding: 10px;
  font-size: 16px;
  color: red;
  background-color: rgb(187, 173, 173);
}